#!/bin/bash

# #############################################################################
# Deploys a new app version by rebuilding the image and containers
# This file is managed by Ansible. Any changes may be overwritten.
# #############################################################################

while read OLD_REV NEW_REV REFNAME
do
  branch=$(git rev-parse --symbolic --abbrev-ref $REFNAME)
  if [ "{{ git_branch }}" = "$branch" ]; then

    sudo -u {{ deploy_user }} {{ app_webroot }}/build.sh $OLD_REV $NEW_REV $REFNAME

  fi
done
