# #############################################################################
# This file is managed by Ansible. Any changes may be overwritten.
# #############################################################################

upstream app {
  server unix:{{ app_webroot }}/docker_volumes/web/tmp/sockets/puma.sock fail_timeout=0;
}

server {
  {% if ssl_certs_exist %}
  listen              443 ssl;
  {% else %}
  listen              80;
  {% endif %}
  server_name         {{ app_domain }};
  access_log          /var/log/nginx/{{ app_domain }}.log;

  location / {
    root {{ app_webroot }}/docker_volumes/web/public;
    try_files $uri @app;
  }

  location @app {
    proxy_pass http://app;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;
  }

  {% if ssl_certs_exist %}
  # SSL
  ssl_certificate /etc/letsencrypt/live/{{ app_domain }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ app_domain }}/privkey.pem;
  include /etc/letsencrypt/options-ssl-nginx.conf;
  ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
  # END SSL
  {% endif %}

  error_page 500 502 503 504 /500.html;
  client_max_body_size 4G;
  keepalive_timeout 10;
}

{% if ssl_certs_exist %}
server {
  if ($host = {{ app_domain }}) {
      return 301 https://$host$request_uri;
  }

  listen 80;
  server_name {{ app_domain }};
  return 404;
}
{% endif %}
