#!/bin/sh

# #############################################################################
# This file is managed by Ansible. Any changes may be overwritten.
# #############################################################################

printf '%s\n' "Hello! You've successfully authenticated, but I do not"
printf '%s\n' "provide interactive shell access."
exit 128
